
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="<%= title %>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./stylesheets/main.css">
  </head>
